//colors
$color_01: #555;
$color_02: #f1f1f1;
$color_03: #dadada;
$color_04: #fff;
$color_05: #330066;
$color_06: #ffcc00;
$color_07: #000000;
$color_08: #3e075b;
$color_09: #f2f2f2;
$color_10: #bc0061;
$color_11: #d8bfd8;
$color_12: #bcbcbc;
$color_13: #ce0058;
$color_14: #ff00cc;
$color_15: rgba(51, 0, 102, 0.17);
$color_16: #dfdfdf;
$color_17: rgba(51, 0, 102, 0.6);
$color_18: #f5f5f5;
$color_19: #785da7;
$color_20: rgba(51, 0, 102, 0.73);
$color_21: #777;
$color_22: #8e1653;
$color_23: #673ab7;
$color_24: #7441a7;
$color_25: #f3f3f3;
$color_26: #f0f0f0;
$color_27: rgba(0, 0, 0, 0.25);
$color_28: #cfcfcf;
$color_29:  grey;
$color_30: #f4effa;
$color_31: #f9f9f9;
$color_32: #e8e8e8;
$color_33: #4d2c6e;
$color_34: #e0b300;
$color_35: #eddaf0;
$color_36: #3c0077;
$color_37: #aaa;
$color_38: #e4e4e4;
$color_39: #888;
$color_40: #ff9aeb;
$color_41: #c2bbbb;
$color_42: #f8f8f8;
$color_43: #ececec;
$color_44: #ffe681;