/* ******* DX New Color *********** */
/*Useful colours:#bc0061; dark pink#3e075b; dark purple#D8BFD8; light pink*/
/* Main -- CI */
$TG_PINK:#c5168d;
$TG_PINK2:#a31175;
$TG_PINK3:#ffdcf4;
$TG_PURPLE1:#330066;
$TG_PURPLE2:#3D1A6E;
$TG_PURPLE3:#e6cfff;
$TG_PURPLE4:#220e3e;
$TG_YELLOW:#FFCC00;
$TG_WHITE:#FFF;
$TG_BLACK:#1b1b1b;
$TG_GRAY-L1:#3e3e3e;
$TG_GRAY-L2:#b0b0b0;
$TG_GRAY-L3:#f8f8f8;
$TG_GRAY-L4:#efefef;

/* FONT : SIZE,COLOR  */
$FONT-COLOR_BLACK:$TG_BLACK;
$FONT-COLOR_WHITE:$TG_WHITE;
$FONT-COLOR_GRAY1:$TG_GRAY-L1;
$FONT-COLOR_GRAY2:$TG_GRAY-L2;

/* BG DROPDOWN */
$BG-COLOR_DROPDOWN:$TG_PINK3;

/* COLOR CHECKBOX AND RADIO */
$FONT-COLOR_CHECKBOX:$TG_PURPLE1;

/* BACKGROUND  */
$BG-COLOR:$TG_PURPLE1;
$BG-GRADIENT1:$TG_PINK;
$BG-GRADIENT2:$TG_PURPLE2;

/* FARE COMPARISION */
$BG-RADIUS_FARECOM_BORDER:$TG_PINK;
$BG-RADIUS_FARECOM:$TG_PINK;

/* HEADER AND LOGO */
$BG-BREAD_CRUMB:$TG_GRAY-L4;
/* HEADER-TEXT  */
$HEADER_TEXT_FONTSIZE:2rem;
$HEADER_ICON_COLOR:$TG_WHITE;

/* Stops and Direct icon  */
$DIRECT-FONT_COLOR:$TG_WHITE;
$DIRECT-FONT_COLOR_DISABLED:$TG_GRAY-L3;
$DIRECT-FONT_COLOR_DISABLED_ACT:$TG_GRAY-L2;


/* SELECT FARE */
$BORDER_COLOR_HOVER_L:$TG_PINK;
$BORDER_COLOR_L:$TG_GRAY-L3;
$BORDER_COLOR_DIRECT:$TG_GRAY-L2;
$BORDER_WIDTH_DIRECT:auto;
$FLIGHT_LOCATION_STOP:.3em;
$FLIGHT_STOP_W:0.6em;
$FLIGHT_STOP_H:0.6em;
$LOWEST-TAG:$TG_PINK;
$BOUND-TITLE:$TG_PINK;
$BOUND-TITLE_SIZE:2rem;
$BOUND-TITLE_STYLE:disc outside none;
$NOT-COMBINABLE-ICON:$TG_PURPLE2;

/* BTN */
$BTN_FONT_COLOR:$FONT-COLOR_WHITE;
$DIALOG-CONTENT:$TG_GRAY-L1;
/* NAV-BUTTON */
$BTN-NAV_COLOR:$TG_PURPLE2;
/* TRIPSUMMARY BTN*/
$TRIPSUMMARY_BTN_FONT_COLOR:$FONT-COLOR_WHITE;
$TRIPSUMMARY_BTN_FONT_COLOR_B:$FONT-COLOR_BLACK;
$TRIPSUMMARY_BTN_BORDER_COLOR_P:$TG_PINK;
$TRIPSUMMARY_BG:$TG_WHITE;
$TRIPSUMMARY-BG_YOURBOOK:$TG-PURPLE1;
$TRIPSUMMARY-BTN_FONT_YOURBOOK:$TG_PURPLE3;




// // Main Color -- CI
// // headerfont, hilightfont
// $FONT-COLOR:#330066;
// $FONT-HILIGHT_COLOR:#330066;

// // Backgroung Header,Backgroud sclect flight
// $BG-COLOR:#330066;
// $BG-SELECT_FLIGHT:$BG-COLOR;
// //FareLabel
// $BG-LABEL:#330066;
// //BTN
// $BTN-COLOR:#3D1A6E;
// $FONT-COLOR_ON_BTN:#FFF;
// $FONT-SIZE_NEXT:14rem;