@import 'colors';
// @media only screen and (max-width: 767px) {

//     //-- Select Flight
//     .calendarPerBound-inner-cell.selected {
//         .fare-label {
//             background-color: $BG-SELECT_FLIGHT;
//         }
//     }

//     // City to - City Form
//     .calendar-bound .city-name {
//         color: $FONT-HILIGHT_COLOR !important;
//     }

//     .pricesummarybottom {
//         &-tablet-row {
//             font-size: 2.3rem;
//         }
//     }
// }

@media only screen and (max-width: 599px) {
  // Header Logo
  #main-layout-header {
    margin: auto 0 !important;

    img {
      max-height: 40px !important;
    }

    #TGLogo {
      max-width: 30%;
      margin: 1em 0em 1em 8px;
    }

    #StarLogo {
      max-width: 40%;
      float: right;
      margin-right: 8px;
      margin-top: 5px;
      margin: 1.2em 8px 1em 0em;
    }
  }

  // .recap-bound .flight-price-container .fare-family .icon-ok-sign {
  //     font-size: 30px;
  //     position: relative;
  //     top: 6px;
  //     line-height: 15px;
  // }

  // .steps-container {
  //     >ol li {
  //         color: #555;
  //     }
  // }

  // // Select Flight
  // .bound-header-container {
  //     .availability-bound .header-text {
  //         padding: 1em 0 0em 0;
  //     }
  // }

  // // --- DX
  // .tripsummary-header-arrow{
  //     background-color: $DEP_ARR-COLOR;
  //     .icon-chevron-down:before{
  //         color: $FONT-COLOR_ON_BTN;
  //     }
  // }

  // #bottom-continue-button {
  //     height: 60px;

  //     >span {
  //         font-size: 1.2em;
  //         text-align: center;
  //     }
  // }
  // .pricesummarybottom-cell{
  //     &-content{
  //         margin: 1em 0;
  //     }
  //     .icon-info-sign{
  //         font-size: 2.5rem;
  //         color: $BG-COLOR;
  //     }
  //     .displayPriceNoteContent{
  //         background-color: $BG-COLOR;
  //         >.arrow{
  //             background-color: $BG-COLOR;
  //         }
  //     }
  //     span.pricesummarybottom-price-note-price-traveller-relation,span.pricesummarybottom-price-note-including-tax-and-fee{
  //         font-size: 1.6rem;
  //     }
  // }

  // Bottom --- New DX Responsive
  // #price-summary-panel-container {
  //     .pricesummarybottom-cell-continue {
  //         max-width: 30% !important;

  //     }

  //     .plnext-widget-btn-text {}

  //     #bottom-continue-button {
  //         font-size: 1em;
  //         padding: 0 !important;

  //         >span {
  //             text-align: center !important;
  //         }
  //     }

  // }

  header#main-layout-header {
    padding: 0.5em;
    img[alt="Thai Airways Logo"] {
      max-width: 25%;
    }
    img[alt="Star Alliance Logo"] {
      max-width: 45%;
      padding-right: 0;
      padding-top: 0.5em;
    }
  }
  #main-container {
    a.header-date-calendarLink,
    .bound-table-actionbar,
    .availability-bound .bound-header-container .header-location span,
    .availability-bound .bound-header-container .spacer,
    .availability-bound .container-text.container-text-to {
      display: none;
    }
    .availability-bound .bound-header-container .container-icon {
      display: inline-block;
    }
  }
  #page-content {
    .owd-calendar-container {
      .calendar-header-responsive {
        text-align: right;
        font-size: large;
      }
      .calendar-bar-container {
        height: 72px;
      }
      .calendar-cell-top {
        height: auto !important;
        padding-top: 0px !important;
      }
    }
    div.slideDown {
      .availability {
        &-bound-table-header {
          background-color: #fff !important;
        }
      }
      .bound-table-flightline {
        &-fare-family-list {
          border-color: 0;
          border-left: 0px;
          .availability {
            &-recommendation-sidebar {
              vertical-align: middle;
            }
            &-table-fare-rows-cells > fieldset {
              .availability {
                &-recommendation.selected {
                  > .availability-recommendation-content {
                    padding: 0px;
                    > div {
                      color: #330066;
                    }
                  }
                }
                &-recommendation-content {
                  .col-xs-4 {
                    display: none;
                  }
                  span.cell-reco-seats-text {
                    color: #fff !important;
                    background-color: #ff00cc !important;
                    float: right;
                  }
                }
                &-recommendation-description {
                  display: none;
                }
              }
            }
          }
        }
        &-details {
          border: 1px solid #d0c7dd;
          background: #fff;
          .availability-flight-details-button {
            display: table;
            width: 100%;
            padding: 0.3em 0.5em;
            margin-top: 0.2em;
            background-color: #f5f5f5;
            span.row-info-bestprice-integer {
              font-size: 1.5em !important;
              display: block;
              color: #330066;
            }
          }
          .availability-flight-details {
            h3.flight-details-container-rowtitle-header {
              width: 50%;
              display: inline-block;
              .flight-details-location {
                &.availability-flight-details-location {
                  font-size: 12px;
                  display: inline-block;
                  width: 49%;
                  vertical-align: top;
                  &.return {
                    display: none !important;
                  }
                }
                &.bound-type.departure {
                  display: none;
                }
              }
            }
            .flight-details-group {
              width: 45%;
              padding: 0 3px;
              float: right;
            }
          }
        }
      }
    }
    #apim-traveller {
      #message-apim-top {
        float: left;
        span.icon-info-sign {
          float: left;
        }
        div.content {
          float: right;
          width: 85%;
          margin-top: 0px !important;
        }
      }
    }
  }
  #page-container {
    #tripsummary {
      &-mini-container {
        div.nav-button-container > button {
          background: #ffcc00;
          color: #330066;
        }
      }
      &-extended-container {
        button.tripsummary-btn-hide-details {
          background-color: #ffcc00;
          color: #330066;
          font-weight: bold;
        }
      }
    }
  }

  .availability-bound {
    header.bound-header {
      h2.header-text {
        font-size: 125%;
      }
      .header-panel .container-icon > i {
        color: #330066;
      }
    }
    .recap-bound {
      h3.flight-details-container-rowtitle-header {
        > div > time {
          font-size: unset;
        }
      }
    }

    .header-panel .city-name {
      text-transform: uppercase !important;
    }
    .bound-header {
      text-align: center !important;
    }
    .flight {
      &-price-container {
        margin-top: 0px !important;
        .fare-family {
          float: left !important;
        }
        i.icon-ok-sign {
          position: relative !important;
          top: 6px !important;
        }
      }
    }
  }

  .bread-crumb-component {
    .title-container.has-steps {
      padding: 10px 11px 0 10px;
    }
    .steps-container {
      margin-top: 5px;
      padding-left: 0px;
      ol > li.current {
        border-bottom: none !important;
      }
    }
  }

  //******* ERROR ******//
  section.global {
    &-error-container {
      #global-error-message {
        span.icon-exclamation-sign,
        h4#alert-title-global-error-message {
          float: left;
        }

        h4#alert-title-global-error-message {
          width: auto;
        }

        div.content {
          display: block;
          clear: both;
          padding-bottom: 0 !important;
        }
      }
    }
  }
}

/* @media (min-width: 1200px){
    div[id^='tpl4_ADT']>div:nth-of-type(1),div[id^='tpl4_ADT']>div:nth-of-type(2),
    div[id^='tpl4_CHD']>div:nth-of-type(1),div[id^='tpl4_CHD']>div:nth-of-type(2)
    {
        width: 16.66666667%;
    }    
} */
.bread-crumb-component {
  .steps-container {
    ol > li::after {
      left: 30px !important;
    }

    padding: 0 !important;
  }
}
