/*Link*/
.availability-show-timeline-link {
	color: $color-91;
	font-size: 100% !important;
}

.tripsummary-primary-btn-icon-caret {
	text-align: right;
	margin-top: 5px;
}

.link-farecomparisons a {
	font-size: 100% !important;
}