$color-01 : #FFF;
$color-02 : #FFF;
$color-03 : #330066;
$color-04 : #FFCC00;
$color-05 : #000000;
$color-06 : #ffffff;
$color-07 : #555;
$color-08 : #3e075b;
$color-09 : #ffffff;
$color-10 : #3e075b;
$color-11 : #FFCC00;
$color-12 : #330066;
$color-13 : #330066;
$color-14 : #3e075b;
$color-15 : #3e075b;
$color-16 : #ffffff;
$color-17 : #f2f2f2;
$color-18 : #bc0061;
$color-19 : #3e075b;
$color-20 : #d8bfd8;
$color-21 : #3e075b;
$color-22 : #ffffff;
$color-23 : #330066;
$color-24 : rgba(0, 0, 0, 0);
$color-25 : #FF00CC;
$color-26 : #330066;
$color-27 : #555;
$color-28 : #330066;
$color-29 : #330066;
$color-30 : #fff;
$color-31 : rgba(51, 0, 102, 0.17);
$color-32 : rgba(51, 0, 102, 0.60);
$color-33 : #330066;
$color-34 : #330066;
$color-35 : #330066;
$color-36 : #ff00cc;
$color-37 : rgba(51, 0, 102, 0.60);
$color-38 : #330066;
$color-39 : #330066;
$color-40 : #330066;
$color-41 : #fff;
$color-42 : #bfbfbf;
$color-43 : #ff00cc;
$color-44 : #330066;
$color-45 : #ddd;
$color-46 : #ddd;
$color-47 : #555;
$color-48 : #ffcc00;
$color-49 : #fff;
$color-50 : #330066;
$color-51 : #555;
$color-52 : #fff;
$color-53 : #555;
$color-54 : #fff;
$color-55 : #fff;
$color-56 : #330066;
$color-57 : #f5f5f5;
$color-58 : #dfdfdf;
$color-59 : #ffcc00;
$color-60 : #ffcc00;
$color-61 : #330066;
$color-62 : rgba(51, 0, 102, 0.73);
$color-63 : #330066;
$color-64 : #ffcc00;
$color-65 : #330066;
$color-66 : #330066;
$color-67 : #fff;
$color-68 : #330066;
$color-69 : #bcbcbc;
$color-70 : #dfdfdf;
$color-71 : #330066;
$color-72 : #330066;
$color-73 : #ce0058;
$color-74 : #330066;
$color-75 : #330066;
$color-76 : #ddd;
$color-77 : #785da7;
$color-78 : #dfdfdf;
$color-79 : #330066;
$color-80 : #ff00cc;
$color-81 : #777;
$color-82 : #330066;
$color-83 : #8e1653;
$color-84 : #330066;
$color-85 : #673ab7;
$color-86 : #ffcc00;
$color-87 : #f1f1f1;
$color-88 : #fff;
$color-89 : #7441a7;
$color-90 : #fff;
$color-91 : #330066;
$color-92 : #f3f3f3;
$color-93 : #bcbcbc;
$color-94 : #f0f0f0;
$color-95 : #330066;
$color-96 : #ffffff;
$color-97 : rgba(0,0,0,0.25);
$color-98 : #f5f5f5;
$color-99 : #330066;
$color-100 : #fff;
$color-101 : #3e075b;
$color-102 : #767676;
$color-103 : #f3f3f3;
$color-104 : #555;
$color-105 : #330066;
$color-106 : #fff;
$color-107 : #cfcfcf;
$color-108 :  grey;
$color-109 : #f4effa;
$color-110 : #f9f9f9;
$color-111 : #e8e8e8;
$color-112 : #330066;
$color-113 : #ffcc00;
$color-114 : #bfbfbf;
$color-115 : #4d2c6e;
$color-116 : #ffffff;
$color-117 : #e0b300;
$color-118 : #f5f5f5;
$color-119 : #f3f3f3;
$color-120 : #fff;
$color-121 : #330066;
$color-122 : #eddaf0;
$color-123 : #f5f5f5;
$color-124 : #3c0077;
$color-125 : #000000;
$color-126 : #aaa;
$color-127 : #e4e4e4;
$color-128 : rgba(128,128,128,1);
$color-129 : #ffcc00;
$color-130 : #330066;
$color-131 : #2f007b;
$color-132 : #555;
$color-133 : #fff;
$color-134 : #8e1653;
$color-135 : #888;
$color-136 : #ff9aeb;
$color-137 : #c2bbbb;
$color-138 : #f8f8f8;
$color-139 : #ececec;
$color-140 : #330066;
$color-141: #555;
$color-142: #f1f1f1;
$color-143: #dadada;
$color-144: #888888;
$color-145: #f2ecfa;
$color-146: #330066;
$color-147: #fbfbfb;
$color-148: #ffe681;
$color-149: #ffcc00;
$color-150: #7441a7;
$color-151: #3e075b;
$color-152: white;
$color-153: #330066;
$color-154: #ffcc00;